{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
            <img src="{% static 'images/nobody.jpg' %}" width="75%" alt="placeholder image">
            {% else %}
            <img src="{{ chefprofile.profile_pic.url }}" width="75%" alt="{{ about.title }}">
            {% endif %}
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ chefprofile.user }}</h2>
            <h3>{{ chefprofile.location | safe }}</h3>
            <!-- Content goes directly underneath this -->
            {{ chefprofile.bio | safe }}
        </div>
    </div>
</div>
{% endblock content %}