{% extends 'base.html' %} {% block content %} {% load static %}
<!-- load crispy -->
{% load crispy_forms_tags %}


<div class="container" id="detailed_recipe_card" style="max-height:732" >
    <div class="row">
        <h1 class="post-title">{{ post.title }}</h1>
    </div>
    <div class="row">
        <div class="col-auto mx-2" id="mega-recipe-card">
            <div class="row">
                <div class="image-container col-6 px-0">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="scale" src="{% static 'images/default.jpg' %}" alt="placeholder image" style="border-radius:50px 0 0 50px;"/>
                    {% else %}
                    <img class="scale" src=" {{ post.featured_image.url }}" alt="{{ post.title }}" style="border-radius:50px 0 0 50px;"/>
                    {% endif %}
                    <div class="image-flash">
                        <p class="author">Chef: {{ post.author }} | {{ post.created_on }}</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end me-1 mt-3">
                        <div class="col-auto mx-1 my-1 d-inline">
                            <div class="d-inline">
                                <p style="margin-top:1rem">COOKBOOKS DROP DOWN</p>
                            </div>
                        </div>
                        <div class="col-auto mx-1 my-1 d-inline my-auto">
                            <div class="d-inline">
                                <a href="{% url 'account_signup' %}"><button type="button" class="btn btn-success btn-rounded">
                                        Save
                                    </button></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto mx-1">
                            <p class="card-text">{{ post.content | safe }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto mx-1">
                            <p class="card-text">{{ post.ingredients | safe }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto mx-1">
                            <p class="card-text">{{ post.category | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr />
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for comment in comments %}
                <div
                    class="p-2 comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <img src="{{ comment.author.profile_pic.url }}" width="100px" height="100px" class="rounded-circle"
                        alt="profile_picture" />
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal"> {{ comment.created_on }} </span>
                        wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %} {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-delete" comment_id="{{ comment.id }}">
                        Delete
                    </button>
                    <button class="btn btn-edit" comment_id="{{ comment.id }}">
                        Edit
                    </button>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em">
                    {{ comment_form | crispy }} {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
                        Submit
                    </button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment? This action cannot be
                    undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
