{% extends 'base.html' %} {% block content %} {% load static %}
<!-- load crispy -->
{% load crispy_forms_tags %}

<!-- Displaying The Fullscreen Recipe Card -->
<div class="container mt-5 mb-5" id="detailed_recipe_card" >
    <div class="row justify-content-center">
        <div class="col-11 mx-2" id="mega-recipe-card">
            <div class="row">
                <div class="image-container col-6 px-0">
                    {% if "placeholder" in post.featured_image.url %}
                    <img id="post-image" src="{% static 'images/default.jpg' %}" alt="placeholder image" style="border-radius:50px 0 0 50px; max-height:450px;"/>
                    {% else %}
                    <img id="post-image" src=" {{ post.featured_image.url }}" alt="{{ post.title }}" style="border-radius:50px 0 0 50px; max-height:450px;"/>
                    {% endif %}
                </div>
                <div class="col-6 my-auto">
                    <div class="row justify-content-center mx-2">
                        <div class="col-auto justify-content-center">
                            <h1 class="my-4">{{ post.title }}</h1>
                        </div>
                    </div>
                    <div class="row justify-content-center mx-2">
                        <div class="col-auto mx-1">
                            <h2 class="card-text">{{ post.category | safe }}</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center mx-2">
                        <div class="col-auto mx-1">
                            <p>Chef: {{ post.author }} | {{ post.created_on }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-center mx-2">
                        <div class="col-auto mx-1">
                            <p><strong>Prep Time: {{ post.prep_time_hours }}hrs  {{ post.prep_time_minutes }}mins | Cook Time: {{ post.cook_time_hours }}hrs {{ post.cook_time_minutes }}mins</strong></p>
                        </div>
                    </div>
                    <div class="row justify-content-end me-1 mt-1 mb-3">
                        <form method="post"  action="">
                        <div class="col-auto mx-1 my-1 d-inline">
                            <div class="d-inline">
                                {% csrf_token %}
                                <label for="cookbook">Choose a Cookbook:</label>
                                <select name="cookbook_id" id="cookbook">
                                  {% for cookbook in cookbooks %}
                                    <option value="{{ cookbook.id }}">{{ cookbook.title }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-auto mx-1 my-1 d-inline my-auto">
                            <div class="d-inline">
                                <button type="submit" name="save_to_cookbook" class="btn btn-success btn-rounded">Save to Cookbook</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-11 col-sm-6 ms-3">
            <div class="row justify-content-end">
                <div class="col-11 mx-1">
                    <h2>Method</h2>
                    <p class="card-text">{{ post.content | safe }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-11 col-sm-5 me-3">
            <div class="row justify-content-center">
                <div class="col-auto mx-1" id="ingredients">
                    <h2>Ingredients:</h2>
                    <p class="card-text">{{ post.ingredients | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Displaying count of comments -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr />
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 container comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <img src="{{ comment.author.chefprofile.profile_pic.url }}" width="38px" height="38px" class="rounded-circle"
                                alt="profile_picture" />
                        </div>
                        <div class="col-auto">
                            <p class="font-weight-bold text-wrap"><strong>{{ comment.author }}</strong> {{ comment.body | linebreaks }}
                                <span class="font-weight-normal"> {{ comment.created_on }} </span>
                            </p>
                        </div>
                        <div class="col-auto text-wrap">
                        {% if not comment.approved and comment.author == user %}
                        <div class="row">
                            <div class="col-auto">
                                <p class="approval">This comment is awaiting approval</p>
                            </div>
                        </div>
                        {% endif %} {% if user.is_authenticated and comment.author == user %}
                        <div class="row">
                            <div class="col-auto">
                                <button class="btn btn-delete" comment_id="{{ comment.id }}">
                                    Delete
                                </button>
                                <button class="btn btn-edit" comment_id="{{ comment.id }}">
                                    Edit
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em" enctype="multipart/form-data">
                    {{ comment_form | crispy }} {% csrf_token %}
                    <button id="submitButton" name="post_comment" type="submit" class="btn btn-signup btn-lg">
                        Submit
                    </button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    <!-- Delete comment confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your comment? This action cannot be
                    undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete post confirmation modal -->
    <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your recipe? This action cannot be
                    undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <a id="deletePostConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}
