
<div class="created_dish_wall_container">
    <div class="card card_small">
        <div class="card-body">
            <a href="{% url 'new_cookbook' %}" class="post-link">
                <div class="image-container">
                    <img class="card-img-top-special" src="{% static 'images/add.png' %}"
                        alt="placeholder image" />
                </div>
                <br>
                <h2 class="card-title justify-content-center text-center">Create Book</h2>
            </a>
        </div>
    </div>
    {% for cookbook in page2_obj %}
    {%if cookbook.collector == user %}
    <div class="card card_small">
        <div class="card-body">
            <a href="{% url 'cookbook_contents' cookbook.slug %}" class="post-link">
                <div class="image-container">
                    {% if "placeholder" in cookbook.cover_image.url %}
                    <img class="card-img-top-small" src="{% static 'images/book_cover_default.jpg' %}"
                        alt="placeholder image" />
                    {% else %}
                    <img class="card-img-top-small" src=" {{ cookbook.cover_image.url }}"
                        alt="{{ cookbook.title }}" />
                    {% endif %}
                    <div class="image-flash">
                        <p class="author">Chef: {{ cookbook.collector }}</p>
                    </div>
                </div>
                <h2 class="card-title">{{ cookbook.title }}</h2>
                <p class="card-text">{{ cookbook.excerpt }}</p>
                <p class="card-text text-muted h6">{{ cookbook.created_on}}</p>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<nav class="row justify-content-center" aria-label="Page navigation">
    <div class="col-auto">
        <div class="pagination">
            {% if page2_obj.has_previous %}
                <a href="?page2={{ page2_obj.previous_page_number }}&page1={{ page1_obj.number }}"><button type="button" class="btn btn-warning btn-rounded btn-sm">Previous</button></a>
            {% endif %}
            {% if page2_obj.has_next %}
                <a href="?page2={{ page2_obj.next_page_number }}&page1={{ page1_obj.number }}"><button type="button" class="btn btn-warning btn-rounded btn-sm">Next</button></a>
            {% endif %}
        </div>
    </div>
</nav>
