
<div class="created_dish_wall_container">
    <div class="card card_small">
        <div class="card-body">
            <a href="{% url 'new_dish' %}" class="post-link">
                <div class="image-container">
                    <img class="card-img-top-special" src="{% static 'images/add.png' %}"
                        alt="placeholder image" />
                </div>
                <br>
                <h2 class="card-title justify-content-center text-center">Create Dish</h2>
            </a>
        </div>
    </div>
    {% for post in page1_obj %}
    {%if post.author == user %}
    <div class="card card_small">
        <div class="card-body">
            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top-small" src="{% static 'images/default.jpg' %}"
                        alt="placeholder image" />
                    {% else %}
                    <img class="card-img-top-small" src=" {{ post.featured_image.url }}"
                        alt="{{ post.title }}" />
                    {% endif %}
                    <div class="image-flash" {% if post.author.username == "menOoh-specials" %}style="background-color:#811867;"{% else %}style="color:#188181;"{% endif %}>
                        <p class="author">Chef: {{ post.author }}</p>
                    </div>
                </div>
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.excerpt }}</p>
                <p class="card-text text-muted h6">{{ post.created_on}}</p>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<nav class="row justify-content-center" aria-label="Page navigation">
    <div class="col-auto">
        <div class="pagination">
            {% if page1_obj.has_previous %}
                <a href="?page1={{ page1_obj.previous_page_number }}&page2={{ page2_obj.number }}"><button type="button" class="btn btn-warning btn-rounded btn-sm">Previous</button></a>
            {% endif %}
            {% if page1_obj.has_next %}
                <a href="?page1={{ page1_obj.next_page_number }}&page2={{ page2_obj.number }}"><button type="button" class="btn btn-warning btn-rounded btn-sm">Next</button></a>
            {% endif %}
        </div>
    </div>
</nav>
